<% if user_signed_in? %>
	  <p class="lead">Currently logged in.</p>
<% else %>
	  <p class="lead">Not signed in.</p>
<% end %>

<h1>Hello!</h1>
<h1>Time to make a plan and stick to it!</h1>
<p>Pick a potential career, visualize how to get there, and checkin with your progress.</p>

