<h1>Hello!</h1>
<h1>Time to make a plan and stick to it!</h1>
<p>Pick a potential career, visualize how to get there, catalog the process with numerical steps and a description, and checkin with your progress.</p>
<% if user_signed_in? %>
	  <h1>User is LOGGED IN! :)</h1>
<% else %>
	  <h1>User is NOT logged in! :(</h1>
<% end %>