<% if user_signed_in? %>
	  <p>Currently logged in.</p>
<% else %>
	  <p>Not signed in.</p>
<% end %>

<h1>Hello!</h1>
<h1>Time to make a plan and stick to it!</h1>
<p>Pick a potential career, visualize how to get there, catalog the process with numerical steps and a description, and checkin with your progress.</p>

<%= render partial: 'scope_links' %>