
<div class="jumbotron">
<% if @commitments %>
    <% @commitments.each do |c| %>
        <p class="display-4">Commitment: <%= c.name %></p>
        <br/>
        <p class="lead">Passion Level: <%= c.passion_level %></p>
            <% if c.plan_id %>
            <p class="lead">Associated Plan: <%= Plan.find_by(id: :plan_id).name %></p>
            <% end %>
        <hr class="my-4">
    <% end %>
<% end %>
</div> 
