
<div class="jumbotron">
    <% if @commitments %>

        <% @commitments.each do |c| %>
            <% if c.user_id == current_user.id %>
                <p class="lead">Commitment: <%= c.name %></p>
                <p class="lead">Passion Level: <%= c.passion_level %></p>
                    <% if  c.plan %>
                         <p class="lead">Associated Plan: <%= c.plan.name %></p>
                    <% end %>
                <hr class="my-4">
            <% end %>
        <% end %>

    <% else %>

        <p class="lead">No commitments to show</p>

    <% end %>
</div> 
