
<% @plans.each do |p| %>
    <h2><%= link_to p.name, plan_path(p) %></h2>
        <p>Number of Steps: <%= p.steps %></p>
<% end %>
<br/>


<%= link_to 'Add Plan', new_plan_path, class:"btn btn-outline-info" %>