

<div class="grid-container">
    <div class="grid-child" >
 
    <%= render partial: 'index' %>

    <%= link_to 'Add Plan', new_plan_path, class:"btn btn-outline-info" %>
    </div>

    <div class="grid-child">
        <%= render partial: 'commitments/show' %>
        <%= link_to 'Add Commitment', new_commitment_path, class:"btn btn-outline-info" %>
    </div>
</div>